@font-face {
  font-family: 'ALD55';
  src: url('/fonts/ALD55.otf') format('opentype');
}
@font-face {
  font-family: 'AxisStd-Heavy';
  src: url('/fonts/AxisStd-Heavy.otf') format('opentype');
}
@font-face {
  font-family: 'AxisStd-Medium';
  src: url('/fonts/AxisStd-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'AxisStd-Regular';
  src: url('/fonts/AxisStd-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'CromwellHPLHS';
  src: url('/fonts/CromwellHPLHS.otf') format('opentype');
}
@font-face {
  font-family: 'CromwellNF';
  src: url('/fonts/CromwellNF.otf') format('opentype');
}
@font-face {
  font-family: 'Destiny_Keys';
  src: url('/fonts/Destiny_Keys.otf') format('opentype');
}
@font-face {
  font-family: 'Destiny_Symbols_360';
  src: url('/fonts/Destiny_Symbols_360.ttf') format('opentype');
}
@font-face {
  font-family: 'Destiny_Symbols_PC';
  src: url('/fonts/Destiny_Symbols_PC.otf') format('opentype');
}
@font-face {
  font-family: 'Destiny_Symbols_PS4';
  src: url('/fonts/Destiny_Symbols_PS4.otf') format('opentype');
}
@font-face {
  font-family: 'Destiny_Symbols_Stadia';
  src: url('/fonts/Destiny_Symbols_Stadia.otf') format('opentype');
}
@font-face {
  font-family: 'Destiny_Symbols_Steam';
  src: url('/fonts/Destiny_Symbols_Steam.otf') format('opentype');
}
@font-face {
  font-family: 'Destiny_Symbols_Xbox_ONE';
  src: url('/fonts/Destiny_Symbols_Xbox_ONE.otf') format('opentype');
}
@font-face {
  font-family: 'IwaNReiPro-Md';
  src: url('/fonts/IwaNReiPro-Md.otf') format('opentype');
}
@font-face {
  font-family: 'MYingHeiHK-W4';
  src: url('/fonts/MYingHeiHK-W4.otf') format('opentype');
}
@font-face {
  font-family: 'MYingHeiHK-W7';
  src: url('/fonts/MYingHeiHK-W7.otf') format('opentype');
}
@font-face {
  font-family: 'MYingHeiHK-W8';
  src: url('/fonts/MYingHeiHK-W8.otf') format('opentype');
}
@font-face {
  font-family: 'MYingHeiPRC-W4';
  src: url('/fonts/MYingHeiPRC-W4.otf') format('opentype');
}
@font-face {
  font-family: 'MYingHeiPRC-W7';
  src: url('/fonts/MYingHeiPRC-W7.otf') format('opentype');
}
@font-face {
  font-family: 'MYingHeiPRC-W8';
  src: url('/fonts/MYingHeiPRC-W8.otf') format('opentype');
}
@font-face {
  font-family: 'NeueHaasUnicaW1G-Bold';
  src: url('/fonts/NeueHaasUnicaW1G-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'NeueHaasUnicaW1G-Italic';
  src: url('/fonts/NeueHaasUnicaW1G-Italic.otf') format('opentype');
}
@font-face {
  font-family: 'NeueHaasUnicaW1G-Medium';
  src: url('/fonts/NeueHaasUnicaW1G-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'NeueHaasUnicaW1G-MediumIt';
  src: url('/fonts/NeueHaasUnicaW1G-MediumIt.otf') format('opentype');
}
@font-face {
  font-family: 'NeueHaasUnicaW1G-Regular';
  src: url('/fonts/NeueHaasUnicaW1G-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'NHaasGroteskDSPro-75Bd';
  src: url('/fonts/NHaasGroteskDSPro-75Bd.otf') format('opentype');
}
@font-face {
  font-family: 'NHaasGroteskTXPro-55Rg';
  src: url('/fonts/NHaasGroteskTXPro-55Rg.otf') format('opentype');
}
@font-face {
  font-family: 'NHaasGroteskTXPro-56It';
  src: url('/fonts/NHaasGroteskTXPro-56It.otf') format('opentype');
}
@font-face {
  font-family: 'NHaasGroteskTXPro-65Md';
  src: url('/fonts/NHaasGroteskTXPro-65Md.otf') format('opentype');
}
@font-face {
  font-family: 'NHaasGroteskTXPro-66MdIt';
  src: url('/fonts/NHaasGroteskTXPro-66MdIt.otf') format('opentype');
}
@font-face {
  font-family: 'SDBNGGothicNeoaUni-eMd';
  src: url('/fonts/SDBNGGothicNeoaUni-eMd.otf') format('opentype');
}
@font-face {
  font-family: 'SDBNGGothicNeoaUni-gBd';
  src: url('/fonts/SDBNGGothicNeoaUni-gBd.otf') format('opentype');
}
@font-face {
  font-family: 'SDBNGGothicNeoaUni-iHv';
  src: url('/fonts/SDBNGGothicNeoaUni-iHv.otf') format('opentype');
}
@font-face {
  font-family: 'SDBNGMjNeoaUni-dMd';
  src: url('/fonts/SDBNGMjNeoaUni-dMd.otf') format('opentype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
